.logo-section {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}

.active {
  background-color: beige;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}
